<ion-content class="swiper-no-swiping">
  <div class="container">
    <img src="/assets/img/chef-icon.png" style="margin-left:100px">

    <ion-segment (click)="segmentChanged($event)" value="login">
      <ion-segment-button value="login">
        <ion-label>Login</ion-label>
      </ion-segment-button>

      <ion-segment-button value="register">
        <ion-label>Cadastro</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-slides>
    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Login</span>

        <ion-item class="ion-margin-top">
          <ion-input type="email" placeholder="E-mail"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top">
          <ion-input type="password" placeholder="Senha"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" color="dark" expand="block">
          Entrar
        </ion-button>
      </div>

    </ion-slide>

    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Cadastro</span>

        <ion-item class="ion-margin-top">
          <ion-input type="text" placeholder="Nome"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top">
          <ion-input type="email" placeholder="E-mail"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top">
          <ion-input type="password" placeholder="Senha"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" color="dark" expand="block">
          Salvar
        </ion-button>
      </div>

    </ion-slide>
  </ion-slides>

  <div class="background">
    <div class="foods"></div>
  </div>

</ion-content>