.container{
    position: absolute;
    left:0;
    right:0;
    width:75%;
    margin: 0 auto;
    top:10%;
    z-index: 2;
}

ion-slides{
    height:100%;

    .slide-inner{
        width: 75%;
    }
}

.background{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    height: 45%;

    .foods{
        position: absolute;
        top: 153px;
        left:0;
        right:0;
        height: 135px;
        background-image: url('/assets/img/background.jpg');
        background-size:contain;
    }


}

.background-top{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    height: 45%;

    .foods{
        position: absolute;
        top: -450px;
        left:0;
        right:0;
        height: 135px;
        background-image: url('/assets/img/background.jpg');
        background-size:contain;
    }
}
