<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Receitas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="logOut()" color="dark" expand="block">
            Sair
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button  color="light" expand="block">
            Detalhes
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>