<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Receitas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="!recipes.length">
        <ion-item *ngFor="let item of [0, 1, 2]">
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item-sliding *ngFor="let recipe of recipes">
          <ion-item  [routerLink]="['/details', recipe.id]">
            <ion-avatar slot="start">
              <img src="/assets/img/food.png">
            </ion-avatar>
    
            <ion-label>
              Titulo:{{ recipe.title }}
              <p>Categoria:{{ recipe.category }}</p>
              <p>Descrição:{{ recipe.description }}</p>
            </ion-label>
          </ion-item>
    
        </ion-item-sliding>
      </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="logOut()" color="dark" expand="block">
            Sair
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button  color="light" expand="block">
            ADD Ingrediente
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>